//Half-svg-hero
.curve-bg-img-hero {
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
