.footer-simple {

  &.footer {
    @include mq('tablet') {
      padding: 70px 0;
    }
  }
  .footer__logo {
    margin-bottom: 10px;
    display: inline-block;

    @include mq('tablet') {
      margin-bottom: 15px;
    }
  }

  p {
    margin-top: 10px;
    color: #8c98a4;
    font-size: 12px;
  }

  .list-inline-item {
    margin-right: 15px;

    @include mq('tablet') {
      margin-right: 30px
    }
  }

  .list__link {
    font-size: 16px;
  }
}
